@import '../../styles/variables'

.product-content
  padding-top: 8px

.product-content-section
  margin-top: 8px
  display: flex
  flex-direction: column

  @media screen and (min-width: 1280px)
    flex-direction: row


.product-content-image
  min-width: 300px
  max-width: 495px
  width: 100%
  border-radius: 20px
  background-color: $secondary-light

  @media screen and (max-width: 639px)
    margin-bottom: 24px

  @media screen and (min-width: 1280px)
    margin-right: 20px
    width: 495px


.product-content-info-title
  font-size: 28px
  line-height: 36px
  margin: 0 0 40px

.product-content-price
  display: inline-block
  font-weight: 700
  font-size: 22px
  line-height: 28px
  margin-bottom: 40px

.product-content-price-description
  margin: 0 0 48px
  font-size: 14px
  line-height: 20px

.product-content-pickers
  display: flex
  flex-direction: column
  margin-bottom: 56px

  @media screen and (min-width: 640px)
    justify-content: space-between
    flex-direction: row
    margin-bottom: 72px

.product-content-picker-title
  display: inline-block
  font-weight: 700
  font-size: 12px
  margin-bottom: 10px

.product-content-color-picker-color
  position: relative
  width: 40px
  height: 40px
  border-radius: 50%
  border: 1px solid $secondary
  display: inline-block
  margin: 0 5px 0 0
  cursor: pointer

  @media screen and (max-width: 639px)
    margin-bottom: 32px

  &.product-content-color-picker-color--selected:after
    position: absolute
    content: url('./icons/checked.svg')
    color: red
    font-size: 16px
    top: -3px
    right: -3px

.product-content-size-picker
  margin-right: 25px

  select
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    display: block
    background-color: transparent
    border: 1px solid $secondary-light
    font-size: 14px
    height: 48px
    line-height: 20px
    background-image: url('./icons/chevron_bottom.svg')
    background-repeat: no-repeat
    background-position-x: calc(100% - 0.3em)
    background-position-y: center
    border-radius: 6px
    padding: 12px 36px 12px 12px

.product-content-pickers-box
  display: flex

.product-content-actions
  display: flex
  flex-direction: column
  align-items: center
  margin-bottom: 91px

  @media screen and (max-width: 639px)
    button
      margin-bottom: 26px

  @media screen and (min-width: 640px)
    flex-direction: row

  @media screen and (min-width: 1280px)
    margin-bottom: 0

.product-content-support
  display: flex
  align-items: center

  @media screen and (min-width: 640px)
    margin-left: 25px

  svg
    margin-right: 10px

  a
    text-decoration: underline
    margin-left: 5px
    cursor: pointer

.product-content-support-text
  font-size: 13px

//Carousel
.product-content-image-picker
  display: flex
  margin-bottom: 20px

  @media screen and (max-width: 639px)
    flex-direction: column-reverse

  @media screen and (min-width: 1280px)
    margin-bottom: 0


.carousel
  max-width: 600px
  min-width: 83px
  width: 100%

  @media screen and (min-width: 640px)
    width: 300px
    height: 611px

  .swiper-slide
    text-align: center

  &.swiper
    @media screen and (min-width: 640px)
      width: 83px
      margin-right: 20px
      margin-left: 0


  @media screen and (min-width: 640px)

    .swiper-button-next,
    .swiper-button-prev
      color: $primary
      left: 48%
      transform: rotate(90deg)
      transform-origin: left center

    .swiper-button-prev
      top: 10px

    .swiper-button-next
      top: auto
      bottom: 10px

.carousel-image
  cursor: pointer
  width: 83px
  border-radius: 20px
  background-color: $secondary-light

  &:hover
   transform: scale(1.03)
