@import '../../styles/variables'

.complete-content
  margin: 0 auto
  padding: 75px 0
  max-width: 803px

.complete-content-gratitude
  display: flex
  align-items: center
  justify-content: center
  width: 100%
  height: 84px
  border: 2px dashed $primary
  border-radius: 20px
  margin-bottom: 34px

.complete-content-gratitude-message
  font-weight: 700

.general-info
  display: flex
  justify-content: space-around
  margin-bottom: 34px

.general-info-item
  display: flex
  flex-direction: column
  align-items: center

.general-info-item-title
  color: $secondary
  font-size: 14px
  line-height: 20px
  margin-bottom: 15px

.general-info-item-value
  font-size: 14px
  line-height: 20px

.complete-details-table
  border-collapse: collapse
  width: 100%
  margin-bottom: 88px

  th
    line-height: 24px
    padding: 16px 0

  td
    padding: 32px 0 16px
    font-size: 14px
    line-height: 20px

  th,
  td
    border-bottom: 1px solid $secondary
    //padding: 8px
    text-align: left

  th:nth-child(2),
  td:nth-child(2)
    text-align: right


  tr
    &:last-child
      td
        border-bottom: unset
        font-weight: 700
        font-size: 16px


.complete-details-title
  line-height: 32px
  margin-bottom: 16px

.complete-details-button
  margin: 0 auto
