@import '../../styles/variables'

.complete-content
  margin: 0 auto
  padding: 75px 0
  max-width: 803px

.complete-content-gratitude
  padding: 24px 31px
  display: flex
  align-items: center
  justify-content: center
  border: 2px dashed $primary
  border-radius: 20px
  margin-bottom: 34px

  @media screen and (min-width: 1280px)
    padding-top: 30px
    padding-bottom: 30px

.complete-content-gratitude-message
  font-weight: 700
  line-height: 22px
  text-align: center


.general-info
  display: flex
  flex-direction: column
  margin-bottom: 34px

  @media screen and (min-width: 640px)
    flex-direction: row
    justify-content: space-around

.general-info-item
  display: flex
  flex-direction: column
  align-items: center

  @media screen and (max-width: 639px)
    margin-bottom: 26px

.general-info-item-title
  color: $secondary
  font-size: 14px
  line-height: 20px
  margin-bottom: 15px

.general-info-item-value
  font-size: 14px
  line-height: 20px

.complete-details-table
  border-collapse: collapse
  width: 100%
  margin-bottom: 88px

  th
    line-height: 24px
    padding: 16px 0

  td
    padding: 32px 0 16px
    font-size: 14px
    line-height: 20px

  th,
  td
    border-bottom: 1px solid $secondary
    text-align: left

  th:nth-child(2),
  td:nth-child(2)
    text-align: right


  tr
    &:last-child
      td
        border-bottom: unset
        font-weight: 700
        font-size: 16px


.complete-details-title
  line-height: 32px
  margin-bottom: 16px

.complete-details-button
  margin: 0 auto
