@import '../../styles/variables'

.reviews-top-section
  margin-bottom: 36px

  @media screen and (min-width: 640px)
    display: flex
    justify-content: space-between
    align-items: end


.reviews-top-section-button
  margin-top: 20px

  @media screen and (min-width: 640px)
    margin: 20px 0 0 20px


.reviews-grid
  display: grid
  grid-gap: 20px

  @media screen and (min-width: 1280px)
    grid-template-columns: repeat(2, 1fr)


.review-card
  padding: 16px
  border: 1px solid $primary-extra
  border-radius: 20px
  display: flex
  flex-direction: column
  justify-content: space-between

.review-card-message
  margin: 20px 0

.review-card-author
  display: flex

.review-card-author-info
  display: flex
  flex-direction: column
  margin-left: 15px

.review-card-author-name
  font-weight: 700
  font-size: 16px
  line-height: 24px
  margin-bottom: 7px

.review-card-author-address
  font-size: 12px
  line-height: 16px
  color: $light-gray

