@import '../styles/variables'

.purchasing-page
  background-color: $light


//PaymentPage.tsx
.payment-page
  padding: 8px 0 40px

.payment-page-content
  margin-top: 40px

  @media screen and (min-width: 1280px)
    display: flex
    justify-content: space-around

