@import '../styles/variables'

.purchasing-page
  background-color: $light


//SellerPage.tsx
.seller-page
  padding: 18px 0 72px


//CartPage.tsx
.cart-page
  padding: 8px 0 76px

.cart-page-title
  font-size: 24px
  line-height: 32px
  text-align: center
  margin-top: 83px
  margin-bottom: 32px


//CheckoutPage.tsx
.checkout-page
  padding: 8px 0 76px

.checkout-page-content
  margin-top: 35px

  @media screen and (min-width: 1280px)
    display: flex
    justify-content: space-between


//PaymentPage.tsx
.payment-page
  padding: 8px 0 40px

.payment-page-content
  margin-top: 40px

  @media screen and (min-width: 1280px)
    display: flex
    justify-content: space-around


//CartPage.tsx
.complete-page
  padding-top: 8px


//PrivacyPage.tsx
.privacy-page
  padding: 72px 0

  p
    line-height: 24px

  h3
    font-size: 16px

  a
    color: $typography


.privacy-page-title
  font-size: 22px
  line-height: 28px
  margin: 0 0 30px
