.hero
  text-align: center
  padding: 65px 0 78px

.hero-sub-tittle
  font-weight: 500
  line-height: 24px

.hero-tittle
  font-weight: 900
  font-size: 56px
  max-width: 736px
  margin: 8px auto 48px
  line-height: 64px

.hero-primary-btn
  margin-right: 24px
