.seller-hero
  padding-top: 18px
  position: relative
  margin-bottom: 32px

.seller-hero-info
  text-align: center
  padding-top: 140px

.seller-hero-image
  position: absolute
  top: 66%
  left: 50%
  transform: translate(-50%, -50%)

.seller-hero-title
  font-size: 22px
  line-height: 28px
  margin: 0 0 15px

.seller-hero-announcement
  font-size: 14px
  line-height: 20px