@import '../../styles/variables'

.cart-products
  margin-top: 23px

.cart-products-title
  font-size: 24px
  line-height: 32px
  text-align: center
  margin-bottom: 32px


.cart-product
  display: flex
  justify-content: space-between
  align-items: center
  width: 804px
  margin: 0 auto

.cart-product-info,
.cart-product-actions
  display: flex
  align-items: center

.cart-product-image
  height: 118px
  margin-right: 16px

.cart-product-name
  font-weight: 700
  line-height: 24px


.cart-product-close-button
  border: none
  background-color: transparent
  cursor: pointer
  transition: background-color 0.2s
  margin-left: 12px

  &:hover
    background-color: $surfacePrimary

.cart-product-price
  margin-left: 16px
  font-weight: 700
  line-height: 24px

.cart-products-total
  text-align: center
  font-weight: 500
  font-size: 22px
  line-height: 28px

  span
    font-weight: 700


