@import '../../styles/variables'

.cart-products-container
  margin: 0 auto 76px
  max-width: 804px

  @media screen and (min-width: 640px)
    min-width: 600px


.cart-products-items
  background-color: $white
  padding: 8px 0
  border-radius: 20px

  @media screen and (min-width: 640px)
    padding: 8px 32px

.cart-products-total
  text-align: center
  font-weight: 500
  font-size: 22px
  line-height: 28px
  margin-bottom: 24px

  span
    font-weight: 700

.cart-products-checkout-button
  margin: 0 auto 24px

.cart-products-delete-button
  border: none
  background-color: transparent
  margin-left: auto
  display: block
  line-height: 24px
  color: $secondary
  cursor: pointer
  padding: 10px
  transition: color $transition

  &:hover
    color: $gray

.cart-products-bottom-text
  color: $light-gray
  display: block
  text-align: center
  font-size: 14px
  line-height: 20px
  