@import '../../styles/variables'

.cart-products
  margin-top: 23px

.cart-products-title
  font-size: 24px
  line-height: 32px
  text-align: center
  margin-bottom: 32px


.cart-products-items
  background-color: $white
  width: 804px
  margin: 0 auto 76px
  padding: 8px 32px
  border-radius: 20px


.cart-product
  display: flex
  justify-content: space-between
  align-items: center

  &:not(:last-child)
    margin-bottom: 16px

.cart-product-info,
.cart-product-actions
  display: flex
  align-items: center

.cart-product-image
  height: 118px
  margin-right: 16px

.cart-product-name
  margin-bottom: 5px
  display: block
  font-weight: 700
  line-height: 24px

.cart-product-options
  color: $secondary
  font-size: 14px
  line-height: 20px
  text-transform: capitalize

.cart-product-close-button
  border: none
  background-color: transparent
  cursor: pointer
  transition: background-color 0.2s
  margin-left: 12px

  &:hover
    background-color: $surfacePrimary

.cart-product-price
  margin-left: 16px
  font-weight: 700
  line-height: 24px

.cart-products-total
  text-align: center
  font-weight: 500
  font-size: 22px
  line-height: 28px

  span
    font-weight: 700


