@import '../../styles/variables'

.footer
  color: $white
  padding: 72px 0 16px
  background-color: $primary
  border-top-right-radius: 20px
  border-top-left-radius: 20px

.footer-container
  display: flex
  justify-content: space-between

.footer-info
  width: 294px

.footer-info-message
  margin: 24px 0 0
  font-size: 14px
  line-height: 20px

.footer-links
  font-size: 14px
  line-height: 20px

.footer-links-column
  display: flex
  flex-direction: column

  &:first-child
    margin-right: 24px

.footer-links-item
  line-height: 20px
  color: $white
  border: none
  cursor: pointer
  background-color: transparent
  padding: 0

  &:not(:last-child)
    display: inline-block
    margin-bottom: 24px


.footer-links-title
  margin: 0 0 24px
  font-size: 16px
  line-height: 24px

.footer-links-container
  display: flex
  justify-content: space-between
