@import '../../../styles/variables'

.button
  height: 56px
  font-weight: 500
  cursor: pointer
  line-height: 24px
  padding: 16px 32px
  border-radius: 20px
  display: inline-flex
  transition: background-color $transition, box-shadow $transition, color $transition

  svg
    margin-left: 8px
    fill: $white

.button-primary
  background-color: $accent
  color: $white
  border: 2px solid transparent
  box-shadow: $button-shadow

  &:hover
    background-color: $accent-light
    box-shadow: $button-shadow-hovered

  &:active
    box-shadow: none

  &:disabled
    background-color: $secondary
    box-shadow: none
    cursor: auto

.button-secondary
  background-color: transparent
  border: 2px solid $primary

  &:hover
    color: $white
    background-color: $primary

  &:active
    background-color: transparent
    color: $black

  &:disabled
    border-color: $secondary
    cursor: auto
    color: $secondary
    background-color: transparent


//ReturnButton
.return-button
  font-weight: 500
  line-height: 24px
  padding: 7px 8px
  display: inline-flex
  cursor: pointer
  background-color: transparent
  border-color: transparent
  border-radius: 20px
  transition: background-color $transition

  svg
    margin-right: 12px

  &:hover
    background-color: $surfacePrimary

//QuantityChangeButton
.quantity-change-buttons
  display: flex
  align-items: flex-start
  justify-content: center
  width: fit-content
  border: 1px solid $secondary-light
  border-radius: 6px
  height: 48px

  button
    color: $primary
    border: none
    outline: none
    background: none
    padding: 15px 15px
    cursor: pointer

  span
    font-size: 14px
    line-height: 20px
    padding: 14px 0